<ion-view title="Checkin" class="">

	<ion-content class="content">

		<ion-refresher
			ng-if="!loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="refreshPerfis()">
		</ion-refresher>

		<div ng-show="loading">
			<ion-spinner></ion-spinned> Carregando...
		</div>


		<div ng-if="hasEvent">

			<div class="padding">
				<input type="search" class="input-search" placeholder="Pesquisar nomes..." ng-model="pesquisa">
				<span class="icon ion-search input-search-icon"></span>
			</div>
			<div>
				<div style="margin-bottom: -5px;float: left; width: 33.333333%;" ng-repeat="perfil in perfis | filter:pesquisa">
					<a href="#/app/checkin-perfil/katy.jpg">
						<img ng-src="img/checkin-perfis/katy.jpg" style="width: 100%;">
					</a>
				</div>
			</div>
			<ion-infinite-scroll
				ng-if="moreDataCanBeLoaded"
				on-infinite="loadMore()"
				distance="10%">
			</ion-infinite-scroll>
		</div>
		<div ng-show="!hasEvent">
			<h1 style="color: #FFF;">No momento não está rolando nenhum evento</h1>
		</div>
	</ion-content>

	<button type="button" class="btn-rounded btn-fixed-bottom-right" style="font-size: 36px;" ng-click="doCheckin()" ng-show="showCheckinButton">
		<span class="icon ion-ios-location"></span>
	</button>

</ion-view>
