<ion-view title="Eu curti" cache-view="false">
	<ion-content class="content">
		<!-- Refresher só fica habilitado quando não está fazendo o load -->
		<ion-refresher
			spinner="ripple"
			ng-if="!loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="loadPerfis('refresher')">
		</ion-refresher>
		<!-- Loader que ocorre quando entra na view -->
		<my-loader></my-loader>
		<!-- Lista com os perfis -->
		<ion-list>
			<ion-item
				href="#/app/checkin-perfil/{{perfil.id}}/{{eventId}}"
				ng-repeat="perfil in perfis | orderBy:'name'" class="item-avatar item-icon-right repeated-item">
				<img ng-src="https://graph.facebook.com/{{perfil.facebook_uid}}/picture?width=80&height=80" class="image">
				<h2>{{perfil.name}}</h2>
				<p ng-if="perfil.created">
					<span am-time-ago="perfil.created"></span>
				</p>
				<p ng-if="perfil.combination_created">
					<span am-time-ago="perfil.combination_created"></span>
				</p>
				 <span class="icon ion-email-unread royal" ng-if="perfil.message"></span>
			</ion-item>
		</ion-list>
		<!-- Mostra caso ninguem te curtiu ainda -->
		<div class="custom-alert" ng-show="noPeople">
			Você ainda não curtiu ninguém.
		</div>
	</ion-content>
</ion-view>
