<ion-view title="Checkin">
	<ion-nav-buttons side="right">
	    <button
	    	ng-click="openModal()"
	    	class="button button-clear"
	    	ng-if="currentEvent && perfis.length > 0">

	    	<span class="icon ion-android-search"></span>
	    </button>
    </ion-nav-buttons>

	<div class="tabs tabs-dark tabs-top" ng-show="currentEvent" style="background-color: #131012!important;">
		<a href="#/app/checkin-hearted-me/{{currentEvent.id}}/1" class="tab-item">
			Me curtiram
		</a>
		<a href="#/app/checkin-that-i-hearted/{{currentEvent.id}}/2" class="tab-item">
			Eu curti
		</a>
		<a href="#/app/checkin-matches/{{currentEvent.id}}/3" class="tab-item">
			Combinações
		</a>
	</div>

	<ion-content class="content" ng-class="{'has-tabs-top': currentEvent}" has-bouncing="false">
		<ion-refresher
			spinner="ripple"
			ng-if="!loading && alerNoEvents"
			pulling-text="Puxe para atualizar..."
			on-refresh="doPullToRefresh()">
		</ion-refresher>

		<my-loader></my-loader>
		
		<div ng-show="alertNoEvents" class="custom-alert">
			Nenhum evento rolando no momento...
		</div>
 		<div>
			<div class="" style="margin-bottom: -6px;padding: 0!important;float: left; width: 33.333333%;" ng-repeat="perfil in perfis">
				<a
					href="#/app/checkin-perfil/{{perfil.id}}/{{currentEvent.id}}">
					<img
						ng-src="https://graph.facebook.com/{{perfil.facebook_uid}}/picture?width=140&height=140"
						class="image"
						style="width: 100%;height: auto!important;">
				</a>
			</div>
		</div>
		<div class="custom-alert" ng-show="!alertNoEvents && alertNoProfiles">
			Ninguém fez checkin ainda.
		</div>
		<div class="text-center" style="margin-top: 20px;" ng-if="alertNoEvents">
			<button type="button" class="btn-custom" ng-click="getCurrentEventByButton()" ng-if="!loading">
				Buscar novamente
			</button>
		</div>

		<div class="text-center" style="clear: both; padding-top: 40px;" ng-if="loadingMoreProfiles">
			<ion-spinner icon="ripple" class="spinner-stable"></ion-spinner>
		</div>
	</ion-content>

	<div ng-show="hasNewProfiles && !alertNoEvents"
		class="btn-novas-pessoas" ng-click="refreshProfiles()">
		Novas pessoas entraram
	</div>

	<button type="button" class="btn-checkin" ng-click="doCheckin()" ng-if="showCheckinButton">
		Entrar na festa
	</button>

</ion-view>
