<ion-view title="{{profile.name}}">
	<ion-content class="content" has-bouncing="false">
		<div style="height: 60%" class="text-center profile-header">
			<div class="row" style="height: 100%;">
				<div class="col col-center">
					<div class="profile-avatar-wrap">
						<img
							preload-image
							default-image="img/preload-placeholder.jpg"
							ng-src="https://graph.facebook.com/{{profile.facebook_uid}}/picture?width=300&height=300" 
							class="profile-avatar">
					</div>

					<h1 class="profile-name">{{profile.name}}</h1>	
				</div>
			</div>
		</div>

		<div class="text-center" ng-if="loading">
			<ion-spinner icon="ripple"></ion-spinner>
		</div>
		
		<div ng-if="!loading" class="text-center" style="height: 40%;">
			<span class="label-dark" ng-show="heartMe && !thatIHeart">Curtiu você</span>
			<span class="label-dark" ng-show="thatIHeart && !heartMe">Você curtiu</span>
			<span class="label-dark" ng-show="heartMe && thatIHeart">Combinaram</span>

			<div class="label-dark" ng-show="!canLike()">
				Você não pode curtir por que ainda não fez o checkin.
			</div>
			
			<div class="btn-like-wrap" ng-show="hasBtnHeart && canLike" style="margin-top: 20px;">
				<button
					ng-disabled="!canLike()"
					type="button"
					class="btn-like"
					ng-click="addHeartPreflight()">

					<!-- <span class="icon ion-heart"></span> -->
				</button>
			</div>

			<div ng-if="message" class="padding">
				<div class="profile-message-sender">
					<span ng-if="profile.id != messageSender">
						Você disse:
					</span>
					<span ng-if="profile.id == messageSender">
						{{profile.name}} disse:
					</span>
				</div>
				<p class="profile-message bubble">
					{{message}}
					<br>
					<span am-time-ago="messageCreated"></span>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
