<ion-view title="Checkin">
	<ion-nav-buttons side="right">
	    <button
	    	ng-click="openModal()"
	    	class="button button-clear"
	    	ng-if="currentEvent && perfis.length > 0">

	    	<span class="icon ion-android-search"></span>
	    </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader bar-stable" ng-show="currentEvent">
		<div class="button-bar">
			<a href="#/app/checkin-hearted-me/{{currentEvent.id}}/1" class="button button-dark" style="background-color: #131012; font-weight: bold!important">
				Me curtiram
			</a>
			<a href="#/app/checkin-that-i-hearted/{{currentEvent.id}}/2" class="button button-dark" style="background-color: #131012; font-weight: bold!important">
				Eu curti
			</a>
			<a href="#/app/checkin-matches/{{currentEvent.id}}/3" class="button button-dark" style="background-color: #131012; font-weight: bold!important">
				Combinações
			</a>
		</div>
    </div>

<!-- 	<div
		class="tabs tabs-top tabs-dark"
		style="background-color: #131012!important; color: #FFF!important"
		ng-show="currentEvent">
		<a
			style="color: #FFF!important"
			class="tab-item" href="#/app/checkin-hearted-me/{{currentEvent.id}}/1">
			Me curtiram
		</a>
		<a
			style="color: #FFF!important"
			class="tab-item" href="#/app/checkin-that-i-hearted/{{currentEvent.id}}/2">
			Eu curti
		</a>
		<a
			style="color: #FFF!important"
			class="tab-item" href="#/app/checkin-matches/{{currentEvent.id}}/3">
			Combinações
		</a>
	</div> -->

	<ion-content class="content" ng-class="{'has-subheader': currentEvent}">

		<ion-refresher
			spinner="ripple"
			ng-if="currentEvent && !loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="doPullToRefresh()">
		</ion-refresher>

		<my-loader></my-loader>
		
		<div ng-show="alertNoEvents" class="custom-alert">
			Não tem nenhum evento rolando agora...
			<button type="button" class="btn-custom" ng-click="getCurrentEventByButton()" style="margin-top: 20px;">
				Buscar novamente
			</button>
		</div>

 		<div>
			<div class="" style="margin-bottom: -5px;float: left; width: 33.333333%;" ng-repeat="perfil in perfis">
				<a
					href="#/app/checkin-perfil/{{perfil.id}}/{{currentEvent.id}}">
					<img
						ng-src="https://graph.facebook.com/{{perfil.facebook_uid}}/picture?width=140&height=140"
						class="image checkin-main-image"
						style="width: 100%;height: auto!important;">
				</a>
			</div>
			<div class="custom-alert" ng-show="!currentEvent && !alertNoEvents">
				Ninguém fez checkin ainda.
			</div>
		</div>

	</ion-content>

	<div ng-show="hasNewProfiles"
		class="btn-novas-pessoas" ng-click="refreshProfiles()">
		Novas pessoas entraram
	</div>

	<button type="button" class="btn-checkin" ng-click="doCheckin()" ng-if="showCheckinButton">
		Entrar na festa
	</button>

</ion-view>
