<ion-view title="Checkin">
	<ion-nav-buttons side="right">
	    <!-- <a href="#/app/checkin-liked-me/{{currentEvent.id}}" style="color: #33dbe2!important;" class="button button-clear" ng-if="currentEvent">
	    	<span class="icon ion-android-favorite"></span>
	    </a> -->
	    <a
	    	href="#/app/checkin-busca/{{currentEvent.id}}"
	    	style="color: #33dbe2!important;"
	    	class="button button-clear"
	    	ng-if="currentEvent && perfis.length > 0">

	    	<span class="icon ion-android-search"></span>
	    </a>
    </ion-nav-buttons>

	<div class="tabs tabs-top tabs-dark" style="background-color: black; color: #33dbe2!important" ng-show="currentEvent">
		<a class="tab-item" href="#/app/checkin-heart-me/{{currentEvent.id}}">
			Me curtiram
		</a>
		<a class="tab-item" href="#/app/checkin-my-heart/{{currentEvent.id}}">
			Eu curti
		</a>
		<a class="tab-item" href="#/app/checkin-matches/{{currentEvent.id}}" >
			Combinações
		</a>
	</div>

	<ion-content class="has-subheader content">

		<ion-refresher
			ng-if="!loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="doPullToRefresh()">
		</ion-refresher>

		<div ng-show="loadingNewData">
			<ion-spinner></ion-spinned> Carregando...
		</div>
		<div ng-show="alertNoEvents">
			<h1>Não tem nenhum evento rolando agora...</h1>
		</div>

 		<div ng-if="currentEvent">
			<div>
				<div class="repeated-item" style="position: relative;margin-bottom: -5px;float: left; width: 33.333333%;" ng-repeat="perfil in perfis">
					<a href="#/app/checkin-perfil/{{perfil.id}}/{{currentEvent.id}}">
						<img ng-src="img/checkin-perfis/katy.jpg" class="ig-kelvin" style="width: 100%;">
					</a>
					<img src="img/like.png" style="width: 30px;top: 0; margin: 5px 0 0 5px; position: absolute;" ng-show="perfil.hasLike">
				</div>
			</div>
			<div ng-show="perfis.length == 0">
				<h2 style="color: white;">Nada encontrado</h2>
			</div>
		</div>

	</ion-content>

	<div ng-show="hasNewProfiles"
		style="z-index: 999;background-color: red;color: white;position: absolute; left: 50%; margin-left: -50px; width: 100px; margin-top: 140px;" ng-click="refreshProfiles()">
		Novas pessoas
	</div>

	<button type="button" class="btn-rounded btn-fixed-bottom-right" ng-click="doCheckin()" ng-show="showCheckinButton">
		<span class="icon ion-ios-location"></span>
	</button>

</ion-view>
