<ion-view title="{{profile.name}}" class="content">
	<ion-content class="text-center">
		<img ng-src="https://graph.facebook.com/{{profile.facebook_uid}}/picture?width=300&height=300" class="" height="300px" width="100%">
		<div ng-show="loading">
			Carregando...
		</div>
		<div ng-if="!loading">
			<h2 ng-show="heartMe && !thatIHeart">Curtiu você</h2>
			<h2 ng-show="thatIHeart && !heartMe">Você curtiu</h2>
			<h2 ng-show="heartMe && thatIHeart">Combinaram</h2>
			<button
				ng-disabled="!canLike()"
				type="button"
				class="button button-positive"
				ng-show="hasBtnHeart && canLike"
				ng-click="addHeartPreflight()">

				Curtir
			</button>
			<div ng-show="!canLike()">
				Você nao pode curtir pq nao fez checkin
			</div>

			<div ng-if="message">
				<div ng-if="profile.id != messageSender">
					Você escreveu <span am-time-ago="messageCreated"></span>:
				</div>
				<div ng-if="profile.id == messageSender">
					{{profile.name}} escreveu <span am-time-ago="messageCreated"></span>:
				</div>
				<p>
					{{message}}
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
