<ion-view title="Contato">

    <ion-nav-buttons side="right">
        <button type="button" class="button button-clear" ng-disabled="!mensagem" ng-click="save()">
        	<span class="icon ion-ios-paperplane"></span>
        </button>
    </ion-nav-buttons>

	<ion-content class="content padding">
		<div class="row">
			<div class="col">
				<textarea
					placeholder="Digite aqui a sua mensagem..."
					class="custom-input textarea-contato"
					ng-model="$parent.mensagem">
				</textarea>
			</div>
		</div>
	</ion-content>
</ion-view>
