<ion-view title="Eventos">
	<ion-nav-buttons side="right">
	    <button
	    	ng-if="!loading"
	    	type="button"
	    	class="button button-clear"
	    	ng-click="getEvents()">
	    	<span class="icon ion-android-refresh"></span>
	    </button>
    </ion-nav-buttons>
	<ion-content class="content">

		<my-loader></my-loader>

		<div ng-show="alertNoEvents" class="custom-alert">
			Nenhum evento no momento.
		</div>	

		<ion-slide-box style="height: 100%;position: relative;" ng-if="events.length > 0" show-pager="false">
			<ion-slide
				ng-repeat="event in events"
				style="height: 100%; background-color: #111;"
				class="eventos">

				<preload-bg
					url="{{imgBaseUrl}}/img/events/{{event.id}}/{{event.imagem_capa}}"
					style="width: 100%; top: 0; height: 80%;background-size: cover; background-position: top center; position: absolute;">
				</preload-bg>

				<div class="eventos-footer">
					<div class="event-name">
						{{event.name}}
					</div>
					<div class="event-date">
						{{ event.data_inicio | amDateFormat: 'DD/MM' }}
					</div>
					<div class="event-button">
						<span class="icon ion-ios-plus-outline" ng-click="openModal(event)"></span>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>
