<ion-view title="Lista Vip">
	<!-- Início do conteúdo -->
	<ion-content class="content">
		<!-- Loading do carregamento inicial -->
		<my-loader></my-loader>
		<!-- Refresher -->
		<ion-refresher
			spinner="ripple"
			ng-if="!loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="getLists('refresh')">
		</ion-refresher>
		<!-- Lista fazendo um loop na variavel listas -->
		<ion-list>
			<ion-item collection-repeat="lista in listas" ng-click="openModal(lista)">
				<h2>
					{{lista.name}}
				</h2>
				<p>Lista encerra em 3 horas</p>
			</ion-item>
		</ion-list>
		<h2 ng-show="noLists" style="color: white;">Nenhuma lista encontrada!</h2>
	<!-- Fim do conteúdo -->
	</ion-content>
</ion-view>
