<ion-view title="Lista Vip" cache-view="false">
    <ion-nav-buttons side="right">
        <button
        	type="button"
        	style="color: #FFF;" class="button button-clear icon-left ion-ios7-paperplane"
        	ng-disabled="!listaSelected" ng-click="send()">
        </button>
    </ion-nav-buttons>
	<ion-content class="content">
		<ion-refresher
			pulling-text="Puxe para atualizar..."
			on-refresh="refreshListas()">
		</ion-refresher>
		<div class="content-title text-center">			
			<p>Envie o seu nome para a lista Feminina.</p>
		</div>

		<ion-list>
			<ion-item ng-repeat="lista in listas" ng-click="openModal(lista)">
				{{lista.name}}
			</ion-item>
		</ion-list>

		<ion-infinite-scroll
			ng-if="moreDataCanBeLoaded"
			on-infinite="getMoreListas()">
		</ion-infinite-scroll>

		
<!-- 		<div class="custom-combobox" ng-click="showPopup()">
			<div class="row">
				<div class="col col-10">
					<span class="custom-combobox-icon icon ion-calendar"></span>
				</div>
				<div class="col">
					<div class="custom-combobox-label">
						{{ eventoAtual.name }}
					</div>
				</div>
				<div class="col col-10">
					<span class="custom-combobox-drop-icon icon ion-android-dropdown"></span>
				</div>
			</div>
		</div> -->

<!-- 		<button type="button" class="button button-stable button-full" ng-disabled="!selectedEvent" ng-click="save()">Enviar nome</button> -->

	</ion-content>
</ion-view>
