<ion-view title="Lista Vip">
	<!-- Início do conteúdo -->
	<ion-content class="content">
		<!-- Loading do carregamento inicial -->
		<div ng-show="loading">
			<ion-spinner></ion-spinner> Carregando dados...
		</div>
		<!-- Refresher -->
		<ion-refresher
			ng-if="!loading"
			pulling-text="Puxe para atualizar..."
			on-refresh="getLists('refresh')">
		</ion-refresher>
		<!-- Lista fazendo um loop na variavel listas -->
		<ion-list>
			<ion-item collection-repeat="lista in listas" ng-click="openModal(lista)">
				{{lista.name}}
			</ion-item>
		</ion-list>
		<h2 ng-show="noLists" style="color: white;">Nenhuma lista encontrada!</h2>
	<!-- Fim do conteúdo -->
	</ion-content>
</ion-view>
