<ion-view cache-view="false">
	<ion-content class="content padding">
	

		<button href="#/app/eventos" type="button" class="button button-positive button-icon-left button-full" style="margin-top: 280px;" ng-click="doLogin()">
			<span class="icon ion-social-facebook"></span> Entrar com Facebook
		</button>

		<div ng-show="loginError">
			Ocorreu um erro ao tentar efetuar o login
		</div>
		<div ng-show="networkError">
			Sem conexão com a Internet
		</div>

		<input type="text" placeholder="ID" style="width: 100%;" ng-model="userId">
		<button type="button" class="button button-royal button-full" ng-click="doLoginTeste(userId)">Logar com o id acima</button>
	
	</ion-content>
</ion-view>
