<ion-view view-title="Localização" cache-view="true">
    <ion-content class="content" scrollbar-y="false" has-bouncing="false">
    	<div style="height: 80%; position: abosolute;">
    		<ui-gmap-google-map
    			options="map.options"
    			center="map.center"
    			zoom="map.zoom">

				<ui-gmap-marker
					coords="marker.location"
					options="marker.options"
					idkey="1">

					<ui-gmap-window
						show='true'>
						Pullse Club
					</ui-gmap-window>

				</ui-gmap-marker>

    		</ui-gmap-google-map>
    	</div>
    	<div style="height: 20%;">
    		<div class="row padding" style="height: 100%;">
    			<div class="col col-center text-center" style="color: white;">
    				<p>Rua Senador Pinheiro Machado, Nº 210 Jardim Amália I - Volta Redonda / RJ</p>
    			</div>
    		</div>
    	</div>
    </ion-content>
</ion-view>
