<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" title="Pullse">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon btn-sidemenu-toggle" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="content">
            <div class="text-center sidemenu-header">
                <div class="sidemenu-avatar-wrap">
                    <img
                        preload-image
                        default-image="img/preload-placeholder.jpg"
                        ng-src="https://graph.facebook.com/{{me.facebook_uid}}/picture?width=140&height=140" class="sidemenu-avatar">
                </div>
                <div class="sidemenu-name">
                   {{ me.name }}
                </div>
            </div>

            <ion-list class="sidemenu-list">
                <a class="item sidemenu-item menu-close" href="#/app/eventos">
                    <strong>Eventos</strong>
                </a>
                <a class="item sidemenu-item menu-close" href="#/app/lista-vip">
                    <strong>Lista Vip</strong>
                </a>
                <a class="item sidemenu-item menu-close" href="#/app/checkin-main">
                    <strong>Check-in</strong>
                </a>
                <a class="item sidemenu-item menu-close" href="#/app/institucional">
                    <strong>Conheça a Pullse</strong>
                </a>
                <a class="item sidemenu-item menu-close" href="#/app/contato">
                    <strong>Contato</strong>
                </a>
                <a class="item sidemenu-item menu-close" href="#/app/teste">
                    <strong>Teste</strong>
                </a>
            </ion-list>

            <div class="sidemenu-footer">
                <div class="row">
                    <div class="col co-67 col-center text-left">
                        <a
                            href="#/logout"
                            class="button button-icon menu-close">
                            <span class="icon ion-power"></span>
                        </a>
                        <a
                            href="#"
                            class="button button-icon menu-close">
                            <span class="icon ion-ios-help"></span>
                        </a>    
                    </div>
                    <div class="col col-center text-right">
                        <img src="img/logo.png" alt="" style="width: 70%; height: auto;">
                    </div>
                </div>
            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>
