<ion-view view-title="Sobre">
    <ion-content class="content text-center" has-bouncing="false">

        <img src="img/logo_interagir.png" alt="" style="width: 60%;height: auto; margin: 65px 0">
        <p class="padding" style="color: white;text-align: left;padding: 0 20px;">
            Inaugurada em 15 de abril de 2011, o Club traz a proposta solida de diversão com qualidade!
            <br>
            Inovação, Beleza e Luxo são apenas alguns dos ingredientes que fazem da PULLSE a melhor opção para o público de bom gosto que busca um ambiente sofisticado e extremamente agradável.
        </p>
    
        <br>

        <ion-list style="text-align: left;">
            <ion-item class="item-icon-left" ng-click="openFacebookFanPage()" style="border: 0">
                {{interagirFacebookPage}}
                <span class="icon ion-social-facebook"></span>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="openDial()" style="border-bottom: 0">
                {{phone}}
                <span class="icon ion-social-whatsapp-outline"></span>
            </ion-item>
        </ion-list>

        <br style="clear: both;">
    </ion-content>
</ion-view>
