<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Pesquisar</h1>
		<button class="button button-clear button-icon" ng-click="closeModal()">
			<span class="icon ion-android-close"></span>
		</button>
	</ion-header-bar>

<!-- 	<div class="bar bar-subheader">
		<input type="text" ng-model="search" placeholder="Pesquisar por nome..."
			style="background-color: rgba(255, 255, 255, 0.1); margin-top: -2px; width: 100%;padding-left: 35px;" id="input-search">
		<span class="icon ion-search" style="position: absolute; top: 0; margin-top: 12px; margin-left: 10px; font-size: 20px;color: #CCC;"></span>
	</div> -->

<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper modal-search">
    <span class="icon ion-ios-search placeholder-icon"  style="font-size: 22px;"></span>
    <input type="search" ng-model="search" placeholder="Pesquisar por nome..." class="input-modal-search">
  </label>
	<button class="button button-clear button-icon" ng-click="closeModal()">
		<span class="icon ion-android-close"></span>
	</button>
</div>

	<ion-content class="">
		<ion-list ng-if="search">
			<a
				class="item item-avatar repeated-item"
				href="#/app/checkin-perfil/{{perfil.id}}/{{eventId}}"
				ng-click="closeModal()"
				ng-repeat="perfil in perfis | filter:search">

				<img src="https://graph.facebook.com/{{perfil.facebook_uid}}/picture?width=80&height=80" class="image">
				<h2>{{perfil.name}}</h2>
				<p>Fez checkin <span am-time-ago="perfil.created"></span></p>
			</a>
		</ion-list>
	</ion-content>
</ion-modal-view>