<ion-modal-view>
	<ion-header-bar style="border: 0!important;">
		<h1 class="title">{{currentList.name}}</h1>
		<button class="button button-clear button-icon" ng-click="closeModal()">
			<span class="icon ion-android-close"></span>
		</button>
	</ion-header-bar>
	<ion-content class="text-center">
		<img
			id="img"
			ng-src="{{currentList.finalImage}}"
			alt=""
			width="100%">

		<p style="margin-top: 20px;" class="padding">
			{{currentList.descricao_lista_vip}}
		</p>
		<button class="btn-custom" ng-click="send()">Enviar nome</button>
	</ion-content>
</ion-modal-view>