/* Empty. Add your own CSS if you like */
.textarea-contato::-webkit-input-placeholder { /* WebKit browsers */
    color: #EEE!important;
    font-family: "HelveticaNeue";
    font-weight: bold;
}
.scroll{
	height: 100%!important;
}
.scroll-content{
  margin-top: 0!important;
  margin-bottom:0!important;
  padding-top:0!important;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue Light";
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue Bold";
  src: url("../fonts/HelveticaNeue-Bold.otf") format("opentype"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

body{
	font-family: "HelveticaNeue"!important;
	font-weight: bold!important;
}
h1{
	font-family: "HelveticaNeue"!important;
}
h2{
	font-family: "HelveticaNeue"!important;
}
h3{
	font-family: "HelveticaNeue"!important;
}

.buttons button, .back-button{
	color: #FFF!important;
}

.login-footer{
	background-color: rgba(0, 0, 0, 0.5);
	color: #EEE;
	font-size: 19px;
	font-weight: bold;
}
.bar-stable{
	background-color: #131012!important;
	border: 0!important;
	background-image: none!important;
}

.button-stable {
	background-color: #33dbe2!important;
	border: 0!important;
	color: #FFF!important;
	border-radius: 5px;
}

.btn-sidemenu-toggle {
	color: #FFF!important;
}
.menu{
	background-color: #1c1c1c;
}

/*SIDE MENU*/
.sidemenu-list {
}
.sidemenu-item, a.sidemenu-item:active, a.sidemenu-item:hover {
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}

.sidemenu-footer{
	margin: 30px 13px 0 5px;
}

.sidemenu-footer a span{
	color: rgba(255, 255, 255, 0.3);
	font-size: 20px!important;
}
a.sidemenu-item, a.sidemenu-item p {
	color: #EEE;
}
.sidemenu-header{
	width: 100%!important;
	margin-bottom: 20px;
	margin-top: 15px;
}
.sidemenu-name{
	color: #d61277;
	font-weight: bold;
	font-size: 20px;
}
.sidemenu-avatar-wrap{
	margin: 10px 0;
	padding-left: 0;
	background-image: url(../img/tunz.png);
	background-size: auto 55%;
	background-position: center center;
	background-repeat: no-repeat;
}
.sidemenu-avatar {
	width: 50%;
	border-radius: 50%;
	border: solid 8px rgba(0, 0, 0, 0.5);
}


.title{
	color: #FFF!important;
	font-weight: bold!important;
	font-family: "HelveticaNeue"
}

.custom-combobox{
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	border-radius: 4px;
	padding-left: 5px;
	color: #FFF;
}
.custom-combobox-icon{
	font-size: 26px;
}
.custom-combobox-label{
	font-size: 18px;
	margin-top: 4px;
/*	margin-left: 15px;
	margin-top: 3px;
	float: left;*/
}
.custom-combobox-drop-icon{
	font-size: 26px;
}

.btn-login{
	color: white;
	border: solid 2px white;
	padding: 15px 10px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 22px;
	font-weight: bold;
	width: 100%;
	border-radius: 4px;
	font-family: "HelveticaNeue"!important;
}

.eventos-footer{
	font-family: "HelveticaNeue";
	color: #FFF;
	position: absolute;
	top: none;
	left: 0;
	right: 0;
	bottom: 0!important;
	width: 100%;
	text-align: center;
	padding: 100px 20px 20px 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0.5)), color-stop(40%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 10%,rgba(0,0,0,1) 40%,rgba(0,0,0,1) 100%);
}
.event-name {
	font-size: 22px;
	margin: 20px 0;
}
.event-date {
	font-size: 50px;
	margin: 30px 0;
}
.event-button span{
	color: #FFF;
	font-size: 60px;
}

.content-login {
	background-image: url(../img/bg_home.png);
	background-color: #000;
	background-position: top center;
	background-size: cover;
}
.content {
	background-image: url(../img/bg.png);
	background-color: #000;
	background-position: top center;
	background-size: cover;
}
.content-title{
	color: #FFF;
	margin-bottom: 40px;
}
.content-title span{
	font-size: 50px;
	color: #33dbe2;
}
.content-title h1{
	margin: 5px 0;
	font-size: 26px;
	color: #FFF;
}
.content-title p{
	font-size: 16px;
	color: #FFF;
}

.custom-input{
	width: 100%!important;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	resize: none;
	border-radius: 4px;
	font-size: 18px;
}

.evento-dia, .evento-mes, .evento-ano {
	color: #FFF;
	font-weight: bold;
}
.evento-dia{
	font-size: 58px;
	margin-top: 18px;
}
.evento-mes{
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 10px;
}
.evento-ano{
	font-size: 40px;
}

.btn-rounded{
	width: 55px;
	height: 55px;
	border-radius: 80px;
	border: 3px #FFF solid;
	background-color: #33dbe2;
	font-size: 25px;
	font-weight: bold;
}
.btn-rounded span{
	color: #FFF;

}

.btn-fixed-bottom-right{
	position: absolute!important;
	right: 0;
	bottom: 0;
	margin: 0 5px 5px 0;
}

.input-search{
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: 10px!important;
	height: 45px!important;
	border-radius: 4px;
	font-weight: bold;
	color: #FFF!important;
}
.input-search-icon {
	font-size: 26px;
	color: #33dbe2;
	position: absolute;
	right:0;
	top: 0;
	margin-right: 20px;
	margin-top: 20px;
}

.repeated-item.ng-enter, .repeated-item.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

.image{
	background-color: #EEE!important;
	/*border: 1px solid #FFF;*/
}


/*LISTA */
.list .item a.activated{
	background: none!important;
}
.list .item{
	background: none;
	border: rgba(255, 255, 255, 0.1) 1px solid;
}
.list .item a{
	background: none;
}
.list .item, .list .item h2, .list .item a h2{
	color: #FFF!important;
	font-weight: bold;
}
.list .item p, .list .item a p{
	color: #EEE!important;
}

/*MODAL*/
.modal{
/*	width: 94%;
	margin-left: 3%;
	margin-top: 60%;*/
	background-color: #131012!important;
	color: #FFF!important;
	font-weight: bold;
	font-size: 15px;
}
.modal .bar h1.title{
	color: #FFF!important;
}
.modal .bar{
	background-color: #131012!important;
	border: 0!important;
	background-image: none;
}
.ionic-scroll{
	border: 0!important;
}

/*PROFILE*/
.profile-name{
	color: #d61277;
	font-weight: bold;
	font-size: 30px;
}
.profile-header{
}
.profile-avatar{
	width: 60%;
	height: 60%;
	min-height: 60%;
	min-width: 60%;
	border-radius: 60%;
	border: 8px solid rgba(0, 0, 0, 0.2);
}
.profile-avatar-wrap{
	width: 100%;
	height: auto;
	position: relative;
	background-image: url(../img/tunz.png);
	background-position: center center;
	background-size: 100% 45%;
	background-repeat: no-repeat;
}

.profile-message{
	border-radius: 4px;
	text-align: left;
	font-size: 16px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFF;
	font-weight: bold;
}
.profile-message span{
	font-size: 13px;
	color: #BBB;
}
.profile-message-sender{
	color: #FFF;
	text-align: left;
	font-weight: bold;
	margin: 40px 0 15px 0;
}


/*CUSTOM LABEL*/
.label-dark{
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 10px;
	font-size: 18px;
	border-radius: 4px;
	margin: 10px 20px;
}

/*BUTTON LIKE*/
.btn-like, .btn-like:disabled{
	padding: 0;
	background-color: #d61277;
	color: #FFF;
	width: 140px;
	height: 140px;
	font-size: 70px;
	border-radius: 140px;
	border: 10px rgba(0, 0, 0, 0.3) solid;
}
.btn-like:disabled{
	opacity: 0.3;
}
/*LOADER*/
.loader-cont{
	background-color: rgba(0, 0, 0, 0.5);
}

/*REFRESHER*/
.scroll-refresher p{
	color: #FFF!important;
}

.btn-custom{
	background-color: #d61277;
	border: 0;
	padding: 6px 24px;
	color: #FFF;
	font-weight: bold;	
	font-family: "HelveticaNeue";
	font-size: 16px;
	border-radius: 30px;
	text-align: center;
}

.btn-checkin, .btn-novas-pessoas{
	background-color: #d61277;
	border: 0;
	padding: 6px;
	position: absolute;
	bottom: 0;
	width: 200px;
	margin-left: -100px;
	left: 50%;
	margin-bottom: 30px;
	color: #FFF;
	font-weight: bold;	
	font-family: "HelveticaNeue";
	font-size: 16px;
	border-radius: 200px;
	text-align: center;
}
.btn-novas-pessoas{
	top: 0;
	margin-bottom: 0;
	margin-top: 120px;
	bottom: auto;
	font-size: 14px;
	width: 180px;
	margin-left: -90px;
}
.custom-alert{
	text-align: center;
	padding: 20px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 18px;
	color: #FFF;
	margin: 10px;
}

.textarea-contato{
	padding: 15px;
	height: 100%;
	font-weight: normal!important;
}

.bubble 
{
position: relative;
border-radius: 7px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 9px 10px;
border-color: #000 transparent;
display: block;
width: 0;
z-index: 1;
top: -10px;
left: 7px;
}
.ionic-refresher-content .text-pulling, .ionic-refresher-content .icon-pulling{
	color: #FFF;
	font-weight: bold;

}
.ionic-refresher-content .icon-refreshing .spinner-ripple svg, .spinner-ripple svg{
	stroke: #FFF;
}

.input-modal-search, .modal-search{
	background: none!important;
	font-size: 16px!important;
	color: #EEE!important;
}

.full-fill{
	/*background-color: green;*/
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.wrap-slidebox{
	position: fixed;
	background-color: green;
	height: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
/*	top: 0;
	height: 50%;
	background-color: red;*/
}

html, body{
	height: 100%!important;
}
.scroll,{
	height: 100%!important;
}